/*
Theme Name: Website Portfolio Thema
Theme URI: http://monocode.nl
Author: Monocode - Jorge Fernandez
Author URI: http://wordpress.org/
Description: Gebruik deze thema als je online portfolio wilt hebben, waarin je
             projecten kunnen worden toegevoegd.
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body { 
	margin: 0px;	
	padding: 0px; 
	font-family: 'Open Sans', sans-serif;
	background: #f0f0f0;
}

.container { 
	width: 980px; 
	margin: 0px auto; 
}


/*
|-----------------------------------------------------------
| Navigation bar
|-----------------------------------------------------------
*/
div.top-nav {
	background: #444;
	height: 40px;
	line-height: 40px;
}

ul.menu { 
	padding: 0; 
	margin: 0; 
	list-style: none; 
}

ul.menu li { 
	float: left; 
	display: inline; 
	position: relative;
}

ul.menu li a {
	display: block;
	padding: 0px 30px;
	color: #f6f6f6;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

ul.sub-menu { 
	border-top: 1px solid #f6f6f6;
	background: #444;
	position: absolute;
	padding: 0; 
	margin: 0; 
	display: none; 
}

ul.sub-menu li a {
	width: 100%;
	border-bottom: 1px solid #f6f6f6;
}

ul.menu li:hover > ul.sub-menu {
	display: block;
}

/*
|-----------------------------------------------------------
| jQuery Slideshow container
|-----------------------------------------------------------
*/
section#slideshow {
	overflow: hidden;
}

section#slideshow img {
	-moz-box-shadow: 5px 0px 5px #000;
	-webkit-box-shadow: 5px 0px 5px #000;
	box-shadow: 5px 0px 5px #000;
	/*position: absolute;*/
	/*z-index: 5;*/
}


/*
|-----------------------------------------------------------
| Portfolio archive items
|-----------------------------------------------------------
*/
div.pf-wrapper {
	overflow: hidden;
	/*background: yellow;*/
	margin-left: -20px;
	margin-top: 20px;
}

div.pf-wrapper div.item-outer {
	width: 230px;
	float: left;
	/*background: green;*/
	margin-left: 20px;
	margin-bottom: 20px;
}

div.pf-wrapper div.item-outer img {
	width: 230px;
	height: 230px;
}

div.pf-wrapper div.item-outer h2 {
	font-size: 18px;
	padding: 10px 0;
	margin: 0;
	border-bottom: 1px dashed #000;
	color: #888;
}

div.pf-wrapper div.item-outer a {

}

/*
|-----------------------------------------------------------
| Portfolio single item
|-----------------------------------------------------------
*/

div.media-item img {
	width: 100%;
}

